<!-- Sidebar header -->
<header class="sidebar-header">

  <div class="header-actions">
    <button class="toggler sidebar-toggler">
      <span class="material-symbols-rounded">chevron_left</span>
    </button>

    <button class="toggler menu-toggler">
      <span class="submenu-arrow material-symbols-rounded">menu</span>
    </button>
  </div>
</header>


<nav class="sidebar-nav">

  <!-- Menú principal -->
  <ul class="nav-list primary-nav">

    <!-- RUBROS -->
    <li class="nav-item">
      <a href="#Rubros/Rubro" class="nav-link">
        <span class="nav-icon material-symbols-rounded">category</span>
        <span class="nav-label">Rubros</span>
      </a>
      <span class="nav-tooltip">Rubros</span>
    </li>


    <!-- MATERIALES -->
    <li class="nav-item">
      <a href="#Materiales/Material" class="nav-link">
        <span class="nav-icon material-symbols-rounded">inventory_2</span>
        <span class="nav-label">Materiales</span>
      </a>
      <span class="nav-tooltip">Materiales</span>
    </li>


    <!-- PRODUCTOS -->
    <li class="nav-item">
      <a href="#Productos/Producto" class="nav-link">
        <span class="nav-icon material-symbols-rounded">shopping_bag</span>
        <span class="nav-label">Productos</span>
      </a>
      <span class="nav-tooltip">Productos</span>
    </li>

    <!-- INFORME DE MATERIALES POR PRODUCTO -->
    <li class="nav-item">
      <a href="#Informes/InformeMaterialesPorProducto" class="nav-link">
        <span class="nav-icon material-symbols-rounded">assignment</span>
        <span class="nav-label">Informe de Productos</span>
      </a>
      <span class="nav-tooltip">Informe de Productos</span>
    </li>

  </ul>

</nav>